# Minimal Mistakes Theme Configuration
# https://mmistakes.github.io/minimal-mistakes/docs/configuration/

# Theme
remote_theme: mmistakes/minimal-mistakes@4.26.2
minimal_mistakes_skin: "dark"

# Site Settings
locale: "en-US"
title: "Brian J. Baker"
title_separator: "|"
subtitle: "Software Solutions Architect"
name: "Brian Baker"
description: "Software Solutions Architect"
url: "https://bakeb7j0.github.io"
baseurl: ""
repository: "bakeb7j0/bakeb7j0.github.io"

# Site Author
author:
  name: "Brian Baker"
  avatar: "/assets/images/me.png"
  bio: "Brian Baker loves what he does: finding solutions where there are none."
  location:
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:brian@waveeng.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/bakeb7j0"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/baker321"

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/bakeb7j0"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/baker321"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gemfile.lock
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /blog/:title/
paginate: 5
paginate_path: /blog/page:num/
timezone: America/New_York

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Analytics
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-163806439-1"
    anonymize_ip: false

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
